* {
    font-family: 'Abel', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #2098f5;
    background: linear-gradient()
}

div#container {
    width: 512px;
    height: 636px;
    overflow: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -256px;
    margin-top: -318px;
}

img#main-avatar {
    align-content: center;
    width: 512px;
}

h2#main-header {
    text-align: center;
    font-size: 73px;
    padding: 0;
}

h4#main-desc {
    text-align: center;
    font-size: 22px;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    color: #515151;
}

@media(max-width:568px) {
    div#container {
        width: 384px;
        height: 480px;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-left: -192px;
        margin-top: -240px;
    }

    img#main-avatar {
        width: 384px;
        align-content: center;
    }

    h2#main-header {
        font-size: 41px;
    }

    h4#main-desc {
        font-size: 16px;
    }
}
